altair==4.2.2
darts==0.24.0
gluonts==0.13.2
hampel==0.0.5
keras==2.7.0
matplotlib==3.5.1
neuralforecast==1.6.0
numpy==1.22.3
pandas==1.5.3
pandas_profiling==3.6.6
Pillow==9.0.1
Pillow==10.0.0
plotly==5.15.0
pytorch_lightning==2.0.5
PyYAML==5.4.1
PyYAML==6.0
scikit_learn==1.2.1
scipy==1.8.1
seaborn==0.12.2
skimpy==0.0.8
statsmodels==0.13.5
streamlit==1.17.0
streamlit_pandas_profiling==0.1.3
tbats==1.1.2
tensorflow==2.11.0
tensorflow_cpu==2.7.0
tensorflow_intel==2.11.0
torch==1.13.1+cu116
tsmoothie==1.0.4
xgboost==1.7.6
